*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card{
    width: 100%;
    margin: 20px;
    background-color: whitesmoke;
    border: gray 1px solid;
    font-size: medium;
}

.header{
    background-color: steelblue;
    height: 85px;
    margin-bottom: 50px;
    padding: 20px;
}

.profPic{
    height: 150px;
    background-color: whitesmoke;
    border: 20px;
    border-radius: 50%;
    padding: 10px;
}

.card-info{
    padding: 20px;
    margin: 10px;
}

h1, h3, p{
    padding: 10px;
}

.icon{
    height: 20px;
}